<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

	<div class="container">
		<div class="navbar navbar-default" role="navigation" th:fragment="header">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"><span th:text="${pageViewModel.applicationName}"></span></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li th:each="link : ${pageViewModel.links}" th:classappend="${#httpServletRequest.requestURI} == @{${link.url}} ? 'active'">
							<a th:href="@{${link.url}}" th:text="${link.name}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>